/DropWizard/store-webapp/target
DropWizard/store-webapp/target/original-shop-0.1.jar
DropWizard/store-webapp/target/shop-0.1.jar
DropWizard/store-webapp/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/DropWizard/store-webapp/target
